<!--The content below is only a placeholder and can be replaced.-->
<div *ngIf="appState.currentUser | async">
  <div style="text-align:center">
      {{appState.currentUser | async | json}}

      <p>
        View encapsulation (no style should be visible):
        <button class="btn btn-primary" (click)="loginService.logout(); loginService.reset();">Logout</button>
      </p>
  </div>
    

  <router-outlet></router-outlet>
</div>
<app-login *ngIf="!(appState.currentUser | async)"></app-login>
